{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * Omnipedia changes:
 *
 * - Moved categories accept selection button to #popup-buttons with the other
 *   buttons.
 *
 * - The 'more_info_button' is unset and the 'privacy_policy_link_url',
 *   'privacy_policy_link_title', and 'privacy_policy_link_attributes' variables
 *   are defined so that a link can be output instead of the button.
 *
 * - Added a "Decide later" button.
 *
 * -----------------------------------------------------------------------------
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 *
 * Omnipedia variables:
 *
 * - 'privacy_policy_link_url': A \Drupal\Core\Url object pointing to the
 *   configured privacy policy URL.
 *
 * - 'privacy_policy_link_title': The text content to use for the privacy policy
 *   link. This is taken from the value of 'more_info_button'.
 *
 * - 'privacy_policy_link_attributes': A \Drupal\Core\Template\Attribute object,
 *   optionally containing 'target' => '_blank' if the privacy policy is
 *   configured to open in a new window or tab.
 *
 * @see \omnipedia_site_preprocess_eu_cookie_compliance_popup_info()
 *   Unsets the 'more_info_button' and defines the 'privacy_policy_link_url',
 *   'privacy_policy_link_title', and 'privacy_policy_link_attributes'
 *   variables.
 *
 * @see https://www.drupal.org/project/eu_cookie_compliance/issues/3222159
 *   Issue regarding the "More info" / privacy policy button being better suited
 *   as a link for accessibility.
 */
#}
{% if privacy_settings_tab_label %}
  <button type="button" class="eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}
{% set classes = [
  'eu-cookie-compliance-banner',
  'eu-cookie-compliance-banner-info',
  'eu-cookie-compliance-banner--' ~ method|clean_class,
] %}
<div role="alertdialog" aria-labelledby="popup-text" {{ attributes.addClass(classes) }}>
  <div class="popup-content info eu-cookie-compliance-content">
    <div id="popup-text" class="eu-cookie-compliance-message">
      {{ message }}

      {% if more_info_button %}
        <button type="button" class="find-more-button eu-cookie-compliance-more-button">{{ more_info_button }}</button>
      {% endif %}

      {% if privacy_policy_link_title and
        privacy_policy_link_url and
        privacy_policy_link_attributes
      %}
        {% set privacy_policy_link_attributes = privacy_policy_link_attributes.addClass('eu-cookie-compliance-privacy-policy-link') %}
        {{ link(
          privacy_policy_link_title,
          privacy_policy_link_url,
          privacy_policy_link_attributes
        ) }}
      {% endif %}
    </div>

    {% if cookie_categories %}
      <div id="eu-cookie-compliance-categories" class="eu-cookie-compliance-categories">
        {% for key, category in cookie_categories %}
          <div class="eu-cookie-compliance-category">
            <div>
              <input type="checkbox" name="cookie-categories" id="cookie-category-{{ key }}"
                     value="{{ key }}"
                     {% if category.checkbox_default_state in ['checked', 'required'] %} checked {% endif %}
                     {% if category.checkbox_default_state == 'required' %} disabled {% endif %} >
              <label for="cookie-category-{{ key }}">{{ category.label }}</label>
            </div>
            {% if category.description %}
              <div class="eu-cookie-compliance-category-description">{{ category.description }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div id="popup-buttons" class="eu-cookie-compliance-buttons{% if cookie_categories %} eu-cookie-compliance-has-categories{% endif %}">
      {% if save_preferences_button_label %}
          <button type="button"
                  class="eu-cookie-compliance-save-preferences-button">{{ save_preferences_button_label }}</button>
      {% endif %}

      <button type="button" class="{{ primary_button_class }}">{{ agree_button }}</button>

      {% if secondary_button_label %}
        <button type="button" class="{{ secondary_button_class }}">{{ secondary_button_label }}</button>
      {% endif %}

      <button type="button" class="eu-cookie-compliance-buttons__later">{{
        'Decide later'|t
      }}</button>
    </div>
  </div>
</div>
