{#
/**
 * @file
 * Theme override to display a single Drupal page while in maintenance mode.
 *
 * This copied from the Classy theme with the following changes:
 *
 * - Removes all links to the front page as they're arguably not needed.
 *
 * - Added .layout-content container around page.content output because
 *   otherwise the maintenance message is just output without any wrapper at
 *   all - not even <p> elements - which makes it a nightmare to lay out.
 *
 * @todo Make front page link removal configurable/optional?
 *
 * @see \Drupal\omnipedia_site_theme\MaintenancePage
 */
#}
<div class="layout-container">

  <header role="banner">
    {% if logo %}
      <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="name-and-slogan">
        {% if site_name %}
         <h1 class="site-name">{{ site_name }}</h1>
        {% endif %}

        {% if site_slogan %}
          <div class="site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>{# /.name-and-slogan #}
    {% endif %}

  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ page.highlighted }}

    <div class="layout-content">
      {{ page.content }}
    </div>

  </main>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>{# /.layout-sidebar-first #}
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>{# /.layout-sidebar-second #}
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
